doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet",href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header
            h1 OJ Zoom
        main
            div#welcome
                form
                    input(type="text", required, placeholder="nickname", id="inp_nickName")
                    input(type="text", required, placeholder="room name", id="inp_roomName")
                    button#roomName Enter Room

            div#call
                div#chat
                    ul
                div#myStream
                    video#myFace(autoplay, playsinline, width="100%", height="auto")
                    button#mute Mute
                    button#camera Turn Camera Off
                    select#cameras
                        option(value="device") Camera Change
                    video#peersStream(autoplay, playsinline, width="100%", height="auto")
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
